<div class="track-version-details">
  <br/>
  <h1 class="title is-4 track-version-title"><%= @track.title %>: <%= @track_version.name %></h1>
  <ul>
    <% @track.track_versions.ordered.each do |version| %>
      <% if version.id == @track_version.id %>
        <p><%= version.name %></p>
      <% else %>
        <p class="has-text-grey-light"><%= version.name %></p>
      <% end %>
    <% end %>
  </ul>

  <br/>

  <h3 class="title is-5 track-version-section-header">Revision notes:</h3>
  <ul>
    <% @track_version.notes.each do |revision_note| %>
      <li>
        <p><%= revision_note.user.name %> says:</p>
        <p><%= revision_note.body %></p>
      </li>
    <% end %>
  </ul>

  <br/>
  <%= link_to("Edit track version", edit_project_track_track_version_path(@project, @track, @track_version), class: "button is-info") %>
  <%= link_to("Back to track", project_track_path(@project, @track), class: "button") %>
  <%= link_to("Back to project", project_path(@project), class: "button") %>
</div>
