<%= render("projects/breadcrumbs", breadcrumbs: ProjectsHelper.breadcrumbs_for(project: @project, track: @track, track_version: @track_version)) %>

<div class="track-version-details">
  <h1 class="title is-4 track-version-title"><%= @track.title %>: <%= @track_version.title %></h1>
  <ul>
    <% @track.track_versions.ordered.each do |version| %>
      <% if version.id == @track_version.id %>
        <li class="current-track-version"><%= version.title %></li>
      <% else %>
        <li class="track-version">
          <%= link_to(version.title, project_track_track_version_path(@project, @track, version), class: "has-text-link") %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <% unless @track_version.description.blank? %>
    <br/>
    <h3 class="title is-5 track-version-section-header">Description:</h3>
    <p><%= @track_version.description %></p>
  <% end %>

  <br/>

  <h3 class="title is-5 track-version-section-header">Links:</h3>
  <% if @track_version.links.size == 0 %>
    <p>None yet!</p>
  <% else %>
    <ul>
      <% @track_version.links.each do |link| %>
        <li>
          <%= link_to(link.url, target: "_blank", class: "has-text-link") do %>
            <span class="icon is-small external-link-icon">
              <i class="fas fa-external-link-alt"></i>
            </span>
            <span><%= link.text %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <br/>

  <h3 class="title is-5 track-version-section-header">Comments:</h3>
  <% if @track_version.comments.size == 0 %>
    <p>None yet!</p><br/>
  <% else %>
    <%= render @track_version.comments.ordered %>
  <% end %>

  <div class="page-action-buttons">
    <%= link_to("Add comment", new_project_track_track_version_comment_path(@project, @track, @track_version), class: "button is-warning") %>
    <%= link_to("Edit track version", edit_project_track_track_version_path(@project, @track, @track_version), class: "button is-info") %>
    <%= link_to("Back to track", project_track_path(@project, @track), class: "button") %>
    <%= link_to("Back to project", project_path(@project), class: "button") %>
  </div>
</div>
