<li class="track track_<%= track.id %> track_order_<%= track.order %>">
  <span class="resource-order has-text-grey-light"><%= sprintf('%02d', track.order) %>&colon;</span>
  <span class="resource-title"><%= track.title %></span>
  <% if track.is_completed? %>
    <span class="has-text-grey-light">(completed)</span>
  <% end %>

  <strong class="resource-action-divider has-text-link">|</strong>
  <%= link_to("Edit", edit_project_track_path(@project, track), class: "has-text-link") %>
  <strong class="resource-action-divider has-text-link">|</strong>
  <%= link_to("Delete", project_track_path(@project, track), method: :delete, remote: :true, class: "has-text-link", data: { confirm: "Are you sure you want to delete '#{track.title}'? This action is permanent." }) %>
</li>
