<div class="project-form">
  <h2 class="title is-4">Edit track details</h2>

  <%= form_for(@track, url: project_track_path(@project, @track), remote: true) do |f| %>
    <div class="field">
      <%= f.label :title, "Track title:" %><br />
      <%= f.text_field :title, class: "input" %>
    </div>

    <div class="field">
      <%= f.label :description, "Track description:" %><br />
      <%= f.text_area :description, class: "textarea" %>
    </div>

    <div class="field track_is_completed">
      <%= f.label :is_completed, "Track has been completed:", class: "checkbox" %>
      <%= f.check_box :is_completed %>
    </div>

    <div class="field track_order">
      <%= f.label :order, "Track order:" %>
      <div class="select">
        <%= f.select :order, 0..20 %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Save", class: "button is-info" %>
      <%= link_to "Track details", project_track_path(@project, @track), class: "button" %>
      <%= link_to "Edit project", edit_project_path(@project, anchor: "tracks"), class: "button" %>
    </div>
  <% end %>

  <br/>

  <h2 class="title is-4">Edit track versions</h2>

  <ul class="track_versions">
    <%= render(@track.track_versions.ordered, locals: { project: @project, track: @track }) %>
  </ul>

  <br/>

  <%= form_for(@track_version, url: project_track_track_versions_path(@project, @track), remote: true) do |f| %>
    <div class="field">
      <%= f.label :title, "Track version title:" %><br />
      <%= f.text_field :title, class: "input" %>
    </div>

    <div class="field track_order">
      <%= f.label :order, "Track version order:" %>
      <div class="select">
        <%= f.select :order, 0..20 %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Add track version", class: "button is-info" %>
      <%= link_to "Track details", project_track_path(@project, @track), class: "button" %>
      <%= link_to "Edit project", edit_project_path(@project, anchor: "tracks"), class: "button" %>
    </div>
  <% end %>
  <br/>
</div>
