<div class="box comment" data-comment-id="<%= comment.id %>">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <div class="comment-header">
          <p class="comment-creator"><strong><%= comment.user.name %></strong></p>
          <p class="comment-date"><small><%= comment.created_at.localtime.strftime("%b. %-d, %Y, %l:%M%p %Z") %></small></p>
        </div>
        <div class="comment-body">
          <%= comment.content %>
        </div>
      </div>
      <% if comment.user.id == current_user.id %>
        <%# `is-mobile` tells bulma to keep these horizontal on mobile as well as desktop %>
        <nav class="level is-mobile">
          <div class="level-left"></div>
          <div class="level-right">
            <%= link_to(edit_project_comment_path(@project, comment)) do %>
              <span class="icon">
                <i class="fas fa-edit"></i>
              </span>
            <% end %>
            <%= link_to(project_comment_path(@project, comment), method: :delete, remote: true, class: "level-item delete-comment-button", data: { confirm: "Are you sure you want to delete your comment?" }) do %>
              <span class="icon">
                <i class="fas fa-trash"></i>
              </span>
            <% end %>
          </div>
        </nav>
      <% end %>
    </div>
  </article>
</div>
