<%= render("projects/breadcrumbs", breadcrumbs: ProjectsHelper.breadcrumbs_for(project: @project, event: @event, page_title: { text: "Edit" })) %>

<div class="project-form">
  <h2 class="title is-4">Edit project event</h2>

  <%= form_for(@event, url: project_event_path(@project, @event), remote: true) do |f| %>
    <div class="field">
      <%= f.label :title, "Event title:" %><br />
      <%= f.text_field :title, class: "input" %>
    </div>

    <div class="field">
    <%= f.label :description, "Event description:" %><br />
      <%= f.rich_text_area :description %>
    </div>

    <div class="field">
      <%= f.label :start_at, "Event starts at:" %><br />
      <%= f.datetime_select :start_at, ampm: true, use_short_month: true, order: [:month, :day, :year] %>
      <small class="has-text-grey-light">(USA Pacific Time)</small>
    </div>

    <div class="field">
      <%= f.label :end_at, "Event ends at:" %><br />
      <%= f.datetime_select :end_at, ampm: true, use_short_month: true, order: [:month, :day, :year] %>
      <small class="has-text-grey-light">(USA Pacific Time)</small>
    </div>

    <div class="field">
      <%= f.label :status, "Event status:" %><br />
      <%= f.text_field :status, class: "input" %>
    </div>

    <div class="actions">
      <%= f.submit "Save", class: "button is-info" %>
      <%= link_to "Back", :back, class: "button" %>
    </div>
  <% end %>
  <br/>
</div>
