<%= render("projects/breadcrumbs", breadcrumbs: ProjectsHelper.breadcrumbs_for(project: @project, page_title: { text: @event.title })) %>

<div class="project-event-details">
  <h3 class="title is-4 project-title"><%= @event.title %></h3>
  <p class="event-time has-text-grey-light">Starts: <%= @event.start_at.try(:localtime).try(:strftime, "%b. %-d, %Y, %l:%M%p %Z") %></p>
  <p class="event-time has-text-grey-light">Ends: <%= @event.end_at.try(:localtime).try(:strftime, "%b. %-d, %Y, %l:%M%p %Z") %></p>
  <% unless @event.status.blank? %>
    <p class="event-time has-text-grey-light">Status: <%= @event.status %></p>
  <% end %>
  <br/>
  <div class="description"><%= @event.description %></div>

  <br/>
  <%= link_to("Edit event", edit_project_event_path(@project, @event), class: "button is-info") %>
  <%= link_to("Back", :back, class: "button") %>
</div>
