<div class="project-form">
  <h2 class="title is-4">Edit project details</h2>

  <%= form_for(@project, url: project_path(@project), remote: true) do |f| %>
    <div class="field">
      <%= f.label :title, "Project title" %><br />
      <%= f.text_field :title, autocomplete: 'off', class: "input" %>
    </div>

    <div class="field">
      <%= f.label :description, "Project description" %><br />
      <%= f.text_area :description, autocomplete: 'off', class: "textarea" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: "button is-info" %>
      <%= link_to "Back", project_path(@project), class: "button" %>
    </div>
  <% end %>

  <br/>

  <h2 id="links" class="title is-4">Edit project links<h2>
  <ul class="links">
    <%= render(@project.links, locals: { project: @project }) %>
  </ul>

  <br/>

  <%= form_for(@link, url: project_links_path(@project), remote: true) do |f| %>
    <div class="field">
      <%= f.label :text, "Link display text" %><br />
      <%= f.text_field :text, autocomplete: 'off', class: "input" %>
    </div>

    <div class="field">
      <%= f.label :url, "Link url" %><br />
      <%= f.text_field :url, autocomplete: 'off', class: "input" %>
    </div>

    <div class="actions">
      <%= f.submit "Add link", class: "button is-info" %>
      <%= link_to "Back", project_path(@project), class: "button" %>
    </div>
  <% end %>

  <br/>

  <h2 id="users" class="title is-4">Edit project members<h2>
  <ul class="users">
    <%= render(@project.users, locals: { project: @project }) %>
  </ul>

  <br/>

  <%= form_for(@user, url: project_add_user_path(@project, @user.id), remote: true) do |f| %>
    <div class="field">
      <%= f.label :name, "New user's name" %><br />
      <%= f.text_field :name, autocomplete: 'off', class: "input" %>
    </div>

    <div class="field">
      <%= f.label :email, "New user's email (required)" %><br />
      <%= f.email_field :email, autocomplete: 'off', class: "input" %>
    </div>


    <div class="actions">
      <%= f.submit "Add user", class: "button is-info" %>
      <%= link_to "Back", project_path(@project), class: "button" %>
    </div>
  <% end %>

  <br/>

  <h2 id="tracks" class="title is-4">Edit project tracks<h2>
  <ul class="tracks">
    <%= render(@project.tracks.ordered, locals: { project: @project }) %>
  </ul>

  <br/>

  <%= form_for(@track, url: project_tracks_path(@project), remote: true) do |f| %>
    <div class="field">
      <%= f.label :title, "Track title" %><br />
      <%= f.text_field :title, autocomplete: 'off', class: "input" %>
    </div>

    <div class="field track_order">
      <%= f.label :order, "Track order" %>
      <div class="select">
        <%= f.select :order, 0..20 %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Add track", class: "button is-info" %>
      <%= link_to "Back", project_path(@project), class: "button" %>
    </div>
  <% end %>

  <br/>

  <% if current_user.can_archive_project?(@project) %>
    <br/>
    <h2 class="title is-4 has-text-danger">Danger Section<h2>
    <%= link_to("Archive project", project_path(@project), class: "button is-danger", data: { confirm: "Are you sure you want to archive this project? This action is permanent." }, method: :delete) %>
    <br/><br/>
  <% end %>
</div>
