<div class="project-form">
  <br/>

  <h2 class="title is-4">Edit project details</h2>

  <%= form_for(@project, url: project_path(@project), remote: true) do |f| %>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, class: "input" %>
    </div>

    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description, class: "textarea" %>
    </div>

    <div class="actions">
      <%= f.submit "Save", class: "button is-info" %>
      <%= link_to "Back", project_path(@project), class: "button" %>
    </div>
  <% end %>

  <br/>

  <h2 class="title is-4">Edit project links<h2>
  <div class="field">
    <ul class="links">
      <%= render(@project.links, locals: { project: @project }) %>
    </ul>
  </div>

  <%= form_for(@link, url: project_links_path(@project), remote: true) do |f| %>
    <div class="field">
      <%= f.label :text %><br />
      <%= f.text_field :text, class: "input" %>
    </div>

    <div class="field">
      <%= f.label :url %><br />
      <%= f.text_field :url, class: "input" %>
    </div>

    <div class="actions">
      <%= f.submit "Add link", class: "button is-info" %>
      <%= link_to "Back", project_path(@project), class: "button" %>
    </div>
  <% end %>
</div>
