<div class="all-projects">
  <h1 class="title is-4">My projects</h1>
  <ul>
  <% @projects.each do |project| %>
    <li>
      <%= link_to(project_path(project), class: "project") do %>
        <p class="has-text-link">
          <%= project.title %>
          <% if current_user.is_project_owner?(project) %>
            <span class="has-text-grey-light">(owner)</span>
          <% end %>
        </p>
        <p class="has-text-grey-light"><%= pluralize(project.tracks.size, "track") %></p>
        <p class="has-text-grey-light"><%= pluralize(project.users.size, "member") %></p>
      <% end %>
    </li>
  <% end %>
  </ul>

  <% if current_user.is_site_admin? %>
    <br/>
    <h1 class="title is-4">Other projects</h1>
    <ul>
    <% (Project.active - @projects).each do |project| %>
      <li class="project-title">
        <%= link_to(project.title, project_path(project)) %>
      </li>
    <% end %>
    </ul>
  <% end %>

  <br/>
  <% if current_user.can_create_projects? %>
    <%= link_to("New project", new_project_path, class: "button is-info") %>
  <% end %>
</div>
