<div class="project-details">
  <br/>
  <h1 class="title is-4 project-title"><%= @project.title %></h1>
  <p class="project-description"><%= @project.description %></p>
  <br/>
  <h3 class="title is-5 users-header">Users on this project</h3>
  <ul>
    <% @project.users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
  </ul>
  <br/>
  <h3 class="title is-5 users-header">Links for this project</h3>
  <ul>
    <% @project.links.each do |link| %>
      <li><%= link_to(link.text, link.url, target: "_blank") %></li>
    <% end %>
  </ul>

  <br/>
  <%= link_to("Edit project", edit_project_path(@project), class: "button is-info") %>
  <% if current_user.is_admin_on?(@project) %>
    <%= link_to("Archive", project_path(@project), class: "button is-danger", data: { confirm: "Are you sure you want to archive this project? This action is permanent." }, method: :delete) %>
  <% end %>
</div>
