<%= render("projects/breadcrumbs", breadcrumbs: ProjectsHelper.breadcrumbs_for(project: @project)) %>

<div class="project-details">
  <h1 class="title is-4 project-title"><%= @project.title %></h1>
  <p class="project-description"><%= @project.description %></p>

  <div class="project-middle-content">
    <div class="project-tracks">
      <h3 class="title is-5 project-section-header">Tracks:</h3>
      <% if @project.tracks.size == 0 %>
        <p>None yet!</p>
      <% else %>
        <ul>
          <% @project.tracks.sort_by(&:order).each do |track| %>
            <li class="project-track">
              <span class="resource-order has-text-grey-light"><%= sprintf('%02d', track.order) %>&colon;</span>
              <%= link_to(project_track_path(@project, track), class: "has-text-link") do %>
                <span><%= track.title %></span>
                <% if track.is_completed? %>
                  <span class="has-text-grey-light">(completed)</span>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <% if @project.links.size > 0 %>
      <div class="project-links">
        <h3 class="title is-5 project-section-header">Links:</h3>
        <% if @project.links.size == 0 %>
          <p>None yet!</p>
        <% else %>
          <ul>
            <% @project.links.each do |link| %>
              <li class="project-link">
                <%= link_to(link.url, target: "_blank", class: "has-text-link") do %>
                  <span class="icon is-small external-link-icon">
                    <i class="fas fa-external-link-alt"></i>
                  </span>
                  <span><%= link.text %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>

    <div class="project-members">
      <h3 class="title is-5 project-section-header">Members:</h3>
      <ul>
        <% @project.users.each do |user| %>
          <li class="project-member">
            <%= user.name %>
            <% if user.is_project_owner?(@project) %>
              (owner)
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="project-events">
      <h3 class="title is-5 project-section-header">Events:</h3>
      <% if @project.events.size == 0 %>
        <p>None yet!</p>
      <% else %>
        <ul>
          <% @project.events.sort_by(&:start_at).each do |event| %>
            <li class="project-event">
              <p><%= link_to(event.title, project_event_path(@project, event)) %></p>
              <p class="event-time has-text-grey-light">Starts: <%= event.start_at.try(:localtime).try(:strftime, "%b. %-d, %Y, %l:%M%p %Z") %></p>
              <p class="event-time has-text-grey-light">Ends: <%= event.end_at.try(:localtime).try(:strftime, "%b. %-d, %Y, %l:%M%p %Z") %></p>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="project-notifications">
      <h3 class="title is-5 project-section-header">Recent updates:</h3>
      <% if @project.notifications.recent.size == 0 %>
        <p>None yet!</p>
      <% else %>
        <ul>
          <% @project.notifications.recent.each do |notification| %>
            <li class="project-notification">
              <p>
                <%= notification.description %>
                <span class="has-text-grey-light notification-timestamp">
                  <%= notification.created_at.localtime.strftime("%b. %-d, %Y") %>
                </span>
              </p>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <br/>
  <%= link_to("Edit project", edit_project_path(@project), class: "button is-info") %>
</div>
