<li class="link link_<%= link.id %>">
  <span>
    <%= link_to(link.url, target: "_blank", class: "has-text-link") do %>
      <span class="icon is-small external-link-icon">
        <i class="fas fa-external-link-alt"></i>
      </span>
      <span><%= link.text %></span>
    <% end %>
  </span>
  <% if current_user.can_manage_resource?(link) %>
    <strong class="resource-action-divider has-text-link">|</strong>
    <%= link_to("Edit", edit_project_link_path(@project, link), class: "has-text-link") %>
    <strong class="resource-action-divider has-text-link">|</strong>
    <%= link_to("Delete", project_link_path(@project, link), method: :delete, remote: :true, class: "has-text-link", data: { confirm: "Are you sure you want to delete the '#{link.text}' link? This action is permanent." }) %>
  <% end %>
</li>
