<% if @link.linkable_type == "TrackVersion" %>
  <% @track_version = TrackVersion.eager_load(:track).find(@link.linkable_id) %>
  <%= render("projects/breadcrumbs", breadcrumbs: ProjectsHelper.breadcrumbs_for(project: @project, track: @track_version.track, track_version: @track_version, page_title: { text: "Edit" })) %>
<% else %>
  <%= render("projects/breadcrumbs", breadcrumbs: ProjectsHelper.breadcrumbs_for(project: @project, page_title: { text: "Edit" })) %>
<% end %>

<div class="project-form">
  <h2 class="title is-4">Edit link</h2>

  <%= form_for(@link, url: project_link_path(@project, @link), remote: true) do |f| %>
    <div class="field">
      <%= f.label :text, "Display text" %><br />
      <%= f.text_field :text, class: "input" %>
    </div>

    <div class="field">
      <%= f.label :url, "Link URL" %><br />
      <%= f.text_field :url, class: "input" %>
    </div>

    <div class="actions">
      <%= f.submit "Save", class: "button is-info" %>
    </div>
  <% end %>
</div>
