<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Studio Project Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar is-warning" role="navigation" aria-label="main navigation" data-controller="main-nav">
      <div class="navbar-brand">
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-nav.mainNavBurger" data-action="click->main-nav#toggle">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" data-target="main-nav.mainNavMenu">
        <div class="navbar-start">
          <%= link_to(projects_path, class: "navbar-item has-text-dark") do %>
            <span class="icon is-small">
              <i class="fas fa-tasks"></i>
            </span>
            &nbsp;&nbsp;
            <span>
              <% if current_user && current_user.is_site_admin? %>
                All projects
              <% else %>
                My projects
              <% end %>
            </span>
          <% end %>
          <%= link_to(user_path(current_user || 0), class: "navbar-item has-text-dark") do %>
            <span class="icon is-small">
              <i class="fas fa-user"></i>
            </span>
            &nbsp;&nbsp;
            <span>My account</span>
          <% end %>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <% if user_signed_in? %>
                <%= link_to(destroy_user_session_path, method: :delete, class: "button is-dark") do %>
                  <strong>Log out</strong>
                <% end %>
              <% else %>
                <%= link_to(new_user_registration_path, class: "button is-dark") do %>
                  <strong>Sign up</strong>
                <% end %>
                <%= link_to(new_user_session_path, class: "button is-dark") do %>
                  <strong>Log in</strong>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <% if notice %>
      <div class="flash notification is-primary" data-controller="flash">
        <button class="delete" data-action="click->flash#close"></button>
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if alert %>
      <div class="flash notification is-danger" data-controller="flash">
        <button class="delete" data-action="click->flash#close"></button>
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
